.breakFast{
    height: auto;
    width: 100%;
    color: white;
     background: #ef32d9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    border-radius: 15px 0px 15px 0px;
}

.snacks{
    height: auto;
    width: 100%;
    color: white;
    border-radius: 15px 0px 15px 0px;
    background: #3494E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.teaTime{
    height: auto;
    width: 100%;
    color: white;
    border-radius: 15px 0px 15px 0px;
    background: #9CECFB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.dinner{
    height: auto;
    width: 100%;
    color: white;
    border-radius: 15px 0px 15px 0px;
    background: #0052D4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.lunch{
    height: auto;
    width: 100%;
    color: white;
    border-radius: 15px 0px 15px 0px;
    background: #4776E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.card{
    display: inline-block !important;
    margin: 10px !important;
    width: 222px !important;
}


.first{
    margin: 0px;
    padding: 0px;
}
.second{
    margin: 0px;
    padding: 0px;
}


.text1{
    display: inline-block;
    margin: 0px;
    margin-left: 6px;
    color: rgb(6, 99, 6);

}

.text2{
    display: inline-block;
    margin: 0px;
    margin-left: 6px;
    color: rgb(190, 97, 97);
}

.actionArea{
    background-color: rgb(232, 235, 250) !important;
}

.button{
    margin: auto !important;
    height: 35px !important;
}

.dialog{
    margin: auto;
}

.spinner{
    left: 20px !important;
}

.show_modal{
    position: fixed;
    height: 100px;
    width: 100px;
    top: 100px;
    left: 0px;
    background-color: #4776E6;
    color: white;
    opacity: 1;
    visibility: visible;
    transition: .3s;
    z-index: 1000;
}

.hide_modal{
    position: fixed;
    height: 100px;
    width: 100px;
    top: 100px;
    left: 0px;
    background-color: #4776E6;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 1000;
}